.diary-log-container table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 14px;
  width: 100%;
}

.diary-log-container th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.diary-log-container th {
  background-color: navy;
  color: white;
  font-weight: normal;
  border: 1px solid #ddd;
}


.diary-log-container tr {
  background-color: rgb(230, 230, 230);
}

.total-row td {
  background-color: white;
}
