.diary-log-container table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 14px;
  width: 100%;
}

.diary-log-container th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.diary-log-container th {
  background-color: navy;
  color: white;
  font-weight: normal;
  border: 1px solid #ddd;
}


.diary-log-container tr {
  background-color: rgb(230, 230, 230);
}

.total-row td {
  background-color: white;
}

.remember-meal-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 10pt;
  cursor: pointer;
  margin: 10px;
}

.add-log-button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 10pt;
  cursor: pointer;
  margin: 10px;
}

.container-container {
  margin: 50px;
}

.diary-log-container{
  border: 1px solid black;
  padding: 50px;
  margin: auto;
  background-color: white;
}

.container-container input {
  width: 150px;
  height: 50px;
  margin-bottom: 50px;
  font-size: 16px;
}
