.splash-page {
  background-image: url("https://blog.insidetracker.com/hs-fs/hubfs/healthy%20beans%20lentils%20legumes.jpg?width=840&name=healthy%20beans%20lentils%20legumes.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.splash-page p,
.splash-page h1 {
  background-color: #e7e5e5c1;
  padding: 20px;
  width: auto;
  box-sizing: border-box
}
