.create-button {
  display: block;
  margin: 20px auto 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-button{
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 10pt;
  cursor: pointer;
  margin: 10px;
}

.delete-button{
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 10pt;
  cursor: pointer;
  margin: 10px;
}

.food-details table {
  border-collapse: collapse;
  width: auto;
  margin-top: 10px;
}

.food-details td {
  padding: 5px;
  border: 1px solid #ccc;
}

.food-details td:first-child {
  font-weight: bold;
  width: 50%;
  background-color: #f2f2f2;
}

.food-details td:nth-child(2) {
  width: 50%;
  text-align: right;
}

ul {
  list-style-type: none;
}

.food-name-li{
  text-transform: capitalize;
  margin: 20px;
}

.food-name {
  text-transform: capitalize;
}

.food-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin-top: 100px;
  justify-content: space-around;
  background-color: white;
  padding: 40px;
}

body{
  background-image: url("https://blog.insidetracker.com/hs-fs/hubfs/healthy%20beans%20lentils%20legumes.jpg?width=840&name=healthy%20beans%20lentils%20legumes.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}
