.search-bar-form {
  margin: 100px;
  background-color: white;
  padding: 100px;
}

.search-bar {
  margin-bottom: 50px;
}

.search-left-right {
  display: flex;
  background-color: white;
  margin: 100px;
  padding: 100px;
}

.search-results-container {
  list-style: none;
}
