.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  background-color: #00a652;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 5px 5px black;
  box-sizing: border-box;
}

.nav-bar-container li {
  list-style: none;
}

.left-side {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.left-side a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 30px;
  box-sizing: border-box;
}

.session-links a{
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  margin-right: 20px;
}

.logo i{
  font-size:40px;
  margin-right: 20px;
}

.logo{
  display: flex;
  align-items: center;
}

.nav-bar-container li a:hover {
  background-color: gray;
  box-sizing: border-box;
}

.profile-button {
  background-color: #fff;
  color: #00a652;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.profile-button:hover {
  box-shadow: 5px 5px black;
}
