.edit-meal-form {
  display: flex;
  flex-direction: column;

}

.top-options {
  margin: 20px;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 10px;
}

.edit-meal-input {
  width: 200px;
  height: 30px;
  font-size: 16px;
}

.submit-edit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 10pt;
  cursor: pointer;
}

.delete-edit-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 10pt;
  cursor: pointer;
}

.remove-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 10pt;
  cursor: pointer;
}

.edit-meal-container{
  background-color: white;
  margin: auto;
  padding: 50px;
}

.edit-meal-label {
  font-size: 20px;
}
