.meal-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 15px;
}

.meal-table td, th {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

.meal-table tr {
  background-color: rgb(230, 230, 230);
}

.meal-table th {
  background-color: navy;
  color: white;
  font-weight: normal;
  border: 1px solid #ddd;
}

.meal-card-container h3{
  text-transform: capitalize;
  border: 2px solid black;
  padding: 10px;
  background-color: navy;
  color: white;
  font-weight: normal;
}

.edit-meal-button {
  display: block;
  width: 110px;
  margin: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  display: block
}

.meal-card-container {
  display: flex;
  flex-direction: column;

}
