.meal-list-container li {
  list-style-type: none
}

.meal-list-container {
  display: flex;

  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  margin: 100px;
  padding: 50px;
  background-color: white;

}

.meal-list {
  display: flex;
  flex-direction: column;
  width: auto;
}

.meal-list li a {
  text-transform: capitalize;
}

.meal-card-container {
  margin: 20px;
}

.add-text{
  background-color: blue;
  color: white;
  padding: 10px;
  margin-right: 20px;
  border-radius: 10pt;
  width: 500px;
  display: flex;
}

.left-side-meal-list {
  display: flex;
  flex-direction: column;
}
